<div class="padding text-center modeconfirm">
    <h2>
    	{{message}}
    </h2>
    <label class="item item-input" ng-if="isPlaces">
        <input type="text" placeholder="Enter Address" g-places-autocomplete ng-model="data" options="{componentRestrictions: { country: 'lb' }}" />
    </label>
    <label class="item item-input" ng-if="!isPlaces">
        <input type="text" placeholder="{{placeHolder}}" ng-model="data">
    </label>
</div>
<div class="row no-padding">
    <button class="col col-67 no-radius no-border button button-energized" ng-click="onConfirmAcceptedTapped(data)">
        YES
    </button>
    <button class="col no-radius button button-clear button-energized" ng-click="onConfirmDeclinedTapped()">
        NO
    </button>
</div>
