<ion-view>
    <ion-content class="bg-content">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Email Address" ng-disabled="true" ng-model="profile.email">
            </label>
            <!-- <label class="item item-input">
                <input type="password" placeholder="PASSWORD" ng-model="profile.password">
            </label> -->
            <label class="item item-input">
                <input type="text" placeholder="FIRST NAME" ng-disabled="true" ng-model="profile.firstname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="LAST NAME" ng-disabled="true" ng-model="profile.lastname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="PHONE NUMBER" ng-disabled="true" ng-model="profile.phone">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="ADDRESS" ng-disabled="true" ng-model="profile.address">
            </label>
        </div>
    </ion-content>
    <!-- <button class="button button-energized button-block pos-bottom"
	ng-click="onUpdateTapped(profile)">
  		<b>UPDATE</b>
	</button> -->
</ion-view>
